.section {
  padding: 80px 0; /* Великий відступ між секціями як у Figma */
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: 40px;
}

.title {
  font-family: 'Manrope', sans-serif;
  font-weight: 700;
  font-size: 32px;
  color: var(--green-darker);
}

.linkAll {
  color: var(--green);
  text-decoration: none;
  font-weight: 500;
}

.grid {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 24px;
  list-style: none;
  padding: 0;

  @media (min-width: 768px) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media (min-width: 1440px) {
    grid-template-columns: repeat(3, 1fr);
  }
}

.loading {
  padding: 100px;
  font-family: 'Manrope', sans-serif;
  font-size: 18px;
  color: var(--green-darker);
  text-align: center;
}
