.heroWrapper {
  display: flex;
  flex-direction: column-reverse;
  gap: 20px;
  @media screen and (min-width: 768px) {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 40px;
  }
}

.imageBlock {
  width: 100%;
  height: auto;
  aspect-ratio: 434 / 383;
  background-image: url('../assets/images/hero-bg.jpg');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  @media screen and (min-width: 768px) {
    width: 430px;
    height: 383.16px;
    background-position: right;
  }
  @media screen and (min-width: 1440px) {
    width: 805.75px;
    height: 561.9px;
  }
}
.content {
  display: flex;
  flex-direction: column;
  gap: 24px;
  @media screen and (min-width: 768px) {
    gap: 32px;
  }
}

.name {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 40px;
  color: var(--green-darker);

  @media screen and (min-width: 1440px) {
    font-weight: 800;
    font-size: 92px;
    line-height: 100%;
    letter-spacing: -0.02em;
  }
}

.accent {
  font-family: var(--accent-font);
}

.buttons {
  display: flex;
  flex-direction: column;
  gap: 16px;
  @media screen and (min-width: 768px) {
    gap: 24px;
  }
  @media screen and (min-width: 1440px) {
    flex-direction: row;
  }
}

.buttonGo {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 16px;
  width: 100%;
  height: 57px;
  background: var(--green);
  border-radius: 64px;
  color: white;
  text-decoration: none;
  font-weight: 600;
  transition: background 0.3s;
  @media screen and (min-width: 768px) {
    width: 249px;
  }
}

.buttonGo:hover {
  background: #4a7363;
}

.buttonRegister {
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 16px;
  width: 100%;
  height: 57px;
  border: 1px solid var(--green-darker);
  border-radius: 64px;
  color: #374f42;
  text-decoration: none;
  font-weight: 600;
  transition: all 0.3s;
  @media screen and (min-width: 768px) {
    width: 249px;
  }
}

.buttonRegister:hover {
  background-color: #374f42;
  color: white;
}
